{% extends 'base.html' %}
{% load static %}
<!-- 


    <h2>Login</h2>
    <hr>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>

    <br>
    <p>Forgot Password?</p>
    <a href="{% url 'reset_password' %}">Click Here</a>
    <hr>
    
    <p>No account?</p>
    <a href="{% url 'register' %}">Register Here</a>
    
-->

{% block style %}
<link rel="stylesheet" href="{% static 'register.css' %}" />
{% endblock %}


{% block content %}
    <div class="signup-container">
        <h2>Login</h2>
        
        <form method="POST" class="signup-form">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
                <div class="error">{{ field.errors }}</div>
            {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="signup-button">Login</button>
        </form>

        <p class="mt-3 text-center">
          <a href="{% url 'reset_password' %}" class="text-muted">Forgot Password?</a>
        </p> <hr />

        <p class="login-link">
        No Account? <a href="{% url 'register' %}">Register Here</a>
        </p>
    </div>

{% endblock %}