{% extends 'base.html' %}

{% block content %}


<div id="book-card">
    <h1>{{book.title}}</h1>
    <br>
    <h4>{{book.author}}</h4>
    <br><hr>

    <h2>Reviews</h2><br>
    <form method="POST">
        {% csrf_token %}
        {{review_form.as_p}}
        <button type="submit">Submit</button>
    </form>
    {% for review in reviews %}
    <span>{{review.reviewer}}</span>
    <h5>{{review.rating}}/5</h5>
    <p>{{review.review}}</p>
    
    <p>{{review.review_date}}</p>
    <hr>
    {% endfor %}
</div>




{% endblock %}