{% extends 'base.html' %}

{% block content %}
    <h2>Home</h2>

    <p>Logged in as {{request.user}}</p>
    <hr>
    <br>

    <h3>Books</h3>
    <hr>
    {% for book in books %}
        <h5><a href="{% url 'book-detail' book.id %}">{{book.title}}</a></h5>
        <hr>
    {% endfor %}

    {% if request.user.is_authenticated == True %}
    <form method="post" action="{% url 'logout'%}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    {% endif %}
    

{% endblock %}