{% extends 'base.html' %} {% load static %} 

{% block style %}
<link rel="stylesheet" href="{% static 'main.css' %}" />
{% endblock %}

{% block content %} 


<p>Logged in as {{request.user}}</p>
<hr />
<br />

<div class="main">
  {% for book in books %}
  <div class="section">
    <div class="grid">
      {{book.title}}</a>
      <a href="{% url 'book-detail' book.id %}">
        <img src="{{ book.cover_image.url }}" alt="{{book.title}} " />
      </a>
      <h3>{{book.title}}</h3>
      <p>{{book.description | slice:150}}</p>
    </div>
  </div>
  {% endfor %}
</div>



{% if request.user.is_authenticated == True %}
<form method="post" action="{% url 'logout'%}">
  {% csrf_token %}
  <button type="submit">Logout</button>
</form>
{% endif %} {% endblock %}
